body {
  font-family: 'Google Sans', sans-serif;
  font-size: 19px;
  line-height: 25px;
}

.spcircle {
   display: inline-block;
   width: 15px;
   height: 15px;
   border: 2px solid red;
   background-color: pink;
   border-radius: 50%;
   vertical-align: middle;
   margin-left: 2px;
   margin-right: 2px;
}


#message-container {
  text-align: center; /* Center the message */
  margin-bottom: 10px; /* Adds space between the message and the bar chart */
}


.shaded-panel {
    background: #f5f5f5;
    border-radius: 10px;
    margin: 0 auto;
    width: 85%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
}

.overlay-text {
  position: absolute;
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* To make text stand out */
  pointer-events: none; /* Prevents text from interfering with video controls */
}

pre {
    overflow-x: auto;
    text-align: left;
    border: 1px solid grey;
    border-radius: 3px;
    background: #eeeeee;
    padding: 5px 5px 5px 10px;
    line-height: 1.2;
    white-space: pre-wrap;
}

pre code {
    text-align: left;
    word-wrap: normal;
    white-space: pre-wrap;
    font-size: 14px;
}

ul {
  list-style-type: disc; /* Ensure bullet points are shown */
  margin-left: 20px; /* Add some left margin for indentation */
}

li {
  margin-bottom: 10px; /* Add some space between list items */
}

.centered-header {
  vertical-align: middle;
  text-align: center;
}

.paper-thumbnail {
    margin: 0 auto;
    width: 60%;
    max-width: 350px;
    display: inline-block;
    vertical-align: top;
    padding: 2% 10% 4% 0;
}

.paper-info {
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

@media (max-width: 999px) {
    .paper-thumbnail {
        width: 60%;
    }

    .paper-info {
        width: 80%;
    }
}

.layered-paper-big {
    /* modified from: http://css-tricks.com/snippets/css/layered-paper/ */
    box-shadow:
        0px 0px 1px 1px rgba(0, 0, 0, 0.35),
        /* The top layer shadow */
        5px 5px 0 0px #fff,
        /* The second layer */
        5px 5px 1px 1px rgba(0, 0, 0, 0.35),
        /* The second layer shadow */
        10px 10px 0 0px #fff,
        /* The third layer */
        10px 10px 1px 1px rgba(0, 0, 0, 0.35),
        /* The third layer shadow */
        15px 15px 0 0px #fff,
        /* The fourth layer */
        15px 15px 1px 1px rgba(0, 0, 0, 0.35),
        /* The fourth layer shadow */
        20px 20px 0 0px #fff,
        /* The fifth layer */
        20px 20px 1px 1px rgba(0, 0, 0, 0.35),
        /* The fifth layer shadow */
        25px 25px 0 0px #fff,
        /* The fifth layer */
        25px 25px 1px 1px rgba(0, 0, 0, 0.35);
    /* The fifth layer shadow */
    margin-left: 10px;
    margin-right: 45px;
}

.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.sphinxtitle {
  font-variant: small-caps;
  font-weight: bold;
}

.intro-video {
  width: 60%; /* Adjust the width as needed */
  height: auto; 
  display: block;
  margin: 0 auto;
}

.method-video {
  width: 80%; /* Adjust the width as needed */
  height: auto; 
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.data-collection-video {
  width: 100%; /* Ensure the video is responsive */
  height: auto; /* Set the height to whatever you prefer */
  overflow: hidden; /* Ensures any overflow is hidden */
  border: 2px solid gray; /* Add a solid black border */
  border-radius: 8px; /* Optional: Add rounded corners */
}

.hand-grasp-video {
  width: 100%; /* Ensure the video is responsive */
  height: 450px; /* Set the height to whatever you prefer */
  object-fit: cover; /* This ensures the video fills the container and crops the top/bottom */
  overflow: hidden; /* Ensures any overflow is hidden */
}

.data-video {
  width: 100%; /* Adjust the width as needed */
  height: auto; 
  display: block;
  margin: 0 auto;
}

.triangulation-video {
  width: 70%; /* Adjust the width as needed */
  height: auto; 
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.teaser .hero-body {
  padding-top: 0;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}

.teaser video {
  object-fit: fill;
}

#glass{
  margin-left: -10px;
}

.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(36, 100%, 50%) !important;
}

.conference-authors a {
   color: #B83A4B !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  height: 100%;
  margin: 5px;
  overflow: hidden;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
  position: relative;
  text-align: center;
}

.results-carousel .caption {
  color: #fff; /* Or any other color */
  background-color: rgba(0, 0, 0, 0.3); /* Optional: for better readability */
  font-size: 1rem; /* Set caption size */
  padding: 0.5em; /* Add some padding around the text */
  width: 100%; /* Caption takes full width of the item */
  box-sizing: border-box; /* Include padding in width calculation */
  position: absolute; /* Position it at the bottom of the video */
  top: 0; /* Align the bottom edge of the caption with the bottom of the item */
  left: 0; /* Align the left edge of the caption with the left of the item */
}

.results-carousel video {
  margin: 0;
}

.results-carousel figure {
  margin: 0;
}

.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100vh;
  background-size: cover;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

#interpolation-image img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}

 .dropdown-item{
    white-space: pre-wrap;
}  

.justify {
  text-align: justify;
}

.centered-video {
  display: block;
  margin: 0 auto;
  width: 80%; /* Adjust the width as needed */
  height: auto;
  border: 5px solid; /* Border color will be set dynamically */
}

.video-caption {
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
  color: #333; /* Adjust the color as needed */
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.left-column, .right-column {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.right-column .nested-columns {
  display: flex;
  height: 100%;
  margin: 0 -5px; /* Negative margin to counteract padding in video-wrapper */
}
.video-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 5px; /* Small padding for minimal separation */
}
.data-video {
  flex: 1;
  object-fit: cover;
  width: 100%;
}
.video-description {
  margin-top: 10px;
  text-align: center;
}
